* {
  margin: 0px;
}

html {
  font-family: trebuchet ms;
}

nav {
  border: hidden;
  background-color: #D9D9D9;
  border-radius: 0px 0px 0px 55px;
  width: 100%;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

.nav-item {
  width: auto;
  height:auto;
  float: left;
  padding:10px;
  color: #424242;
}

.nav-item:hover:not(.active) {
  background-color: #424242;
  text-decoration: none;
  transition: 0.4s;
  border-radius: 10px;
}

.nav-item:hover {
  color: #424242;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  vertical-align: middle;
}

.imglogo {
  width: 80px;
  height: auto;
  background-size: contain;
  text-align: left;
  border-radius: 50%;
  margin: 10px;
  float:left;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header'
  'left left middle middle right right'
  'footer footer footer footer footer footer';
  grid-column-gap: 10px;
}


/* ArtGrid */
#artistlist {
  text-align: center;
  width: 100%;
  position: absolute;
  display: block;
  max-height: 450px
}

.singleart{
  position: relative;
  display: inline-flex;
  margin: 1%;
  width: 25vw;
  height: 25vw;
  border-radius: 15px;
  vertical-align: middle;
}

.artistdata {
  max-width: 100%;
  max-height: 100%;
}

.flip-box {
  width: 100%;
  height: 100%;
  perspective: 10000px;

}

.flip-box:hover .flip{
  transform: rotateY(180deg);
  border: 2% solid black;
}

.flip, .front, .back{
  width: 100%;
  height: 100%;
}

.flip {
  position: relative;
  transform-style: preserve-3d;
  transition: 0.5s;
  border-radius: 10px;
}

.front {
  position: absolute;
  cursor: pointer;
  backface-visibility: hidden;
  background-color: #D9D9D9;
  border-radius: 10px;
  box-shadow: 10px 3px 4px 2px grey;
}

.back {
  transform: rotateY(180deg);
  background-color: #D9D9D9;
  position: absolute;
  box-sizing: border-box;
  backface-visibility: hidden;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 3px 4px 2px grey;
}

.artistImg {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  position: static;
  vertical-align: middle;
  z-index: 2;
}

.artistname {
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 14px;
}

.artistdata, .front:hover(not) {
  size: 6px;
}
