* {
  font-family: trebuchet ms;
}

h2 {
  text-transform: lowercase;
}

h2:hover {
  transition: 0.2s;
  text-transform: ;
}

.imagetestblock {
  position: relative;
  display: inline-block;
  align-items: center;
  height: 220px;
  width:220px;
  background-color: black;
  margin: 2%;
  border-radius: 5%;
  padding: 1%;

}

.testimage {
  width: inherit;
  max-height: 220px;
  position: relative;

}
